.pokemonItem {
    position: relative;
    background-color: #f6f8fa;
    border: 1px solid #000;
    width: 30%;
    padding: 10px 15px;
    margin: 10px auto;
    min-height: 300px;
    cursor: pointer;
    &__detail {
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    &__character {
        text-align: left;
        padding: 5px 0;
    }
    &__img {
        background-color: #ccc;
        width: 100%;
        height: 180px;
    }
    &__types {
        display: inline-block;
        margin: 10px 5px;
        padding: 7px 10px;
        border-radius: 5px;
        border: 1px solid #000;
    }
}

@keyframes slowShow {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@media(max-width: 1400px){
    .pokemonItem{
        width: 45%;
    }
}
@media(max-width: 1000px){
    .pokemonItem{
        width: 30%;
    }
}
@media(max-width: 767px){
    .pokemonItem{
        width: 90%;
    }
}